.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 984px;
  margin: 0 auto;
}

.lead__title {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  text-align: center;
  margin: 0 auto 32px;
}

.lead__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  max-width: 640px;
  margin: 0 auto 64px;
}

.lead__image {
  margin: 0 auto 8px;
  width: 100%;
}

.lead__caption {
  font-family: 'Inter', 'Arial', sans-serif;
  color:#fff;
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  max-width: 158px;
  margin: 0;
  align-self: flex-start;
}