.lead__title {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  text-align: center;
  margin: 0 auto 32px;
}