.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 92px;
}

.intro__title {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 690px;
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px;
  text-align: left;
}

.intro__text {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 690px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px; /*проверить правильность расчетов*/
  color: #fff;
  margin: 0 0 33px;
}

.intro__list {
  color: #fff;
  max-width: 690px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro__list-item {

}

.intro__list-number {
  font-weight: normal;
}