.intro__text {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 690px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63; /*проверить правильность расчетов*/
  color: #fff;
  margin: 0 0 33px;
}

@media screen and (max-width: 1024px) {
  .intro__text {
    max-width: 100%;
  }
}